*{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.logo{
  width: 80px;
  height: 50px;
  margin-left: 50px;
  margin-top: 20px;
}

#list1{
  display: inline-block;
}

a{
  text-decoration: none;
  color: #F3F0F2;
  padding: 20px;
  margin-top: -30px;
}

a:hover{
  color: #DC0088;
}

#nav{
  background-color: transparent;
  position: fixed;
  padding: 30px;
  z-index: +3;
}

#drive{
  margin-left: 570px;
}

video{
  margin-top: -95px;
  position: absolute;
}

#background{
  width: 1263px;
  height: 1300px;
  background: -moz-linear-gradient(top, rgba(102,14,131,1) 0%, rgba(102,14,131,1) 81%, rgba(44,30,110,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(102,14,131,1) 0%,rgba(102,14,131,1) 81%,rgba(44,30,110,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(102,14,131,1) 0%,rgba(102,14,131,1) 81%,rgba(44,30,110,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#660e83', endColorstr='#2c1e6e',GradientType=0 );}

.text-background{
  color: white;
  position: absolute;
  margin-top: 800px;
  margin-left: 150px;
  font-size: 25px;
}

.p-background{
  color: white;
  position: absolute;
  margin-top: 850px;
  margin-left: 153px;
  font-size: 15px;
}

#request{
  margin-top: 870px;
}

#serious{
  margin-top: 940px;
}

#from{
  margin-top: 990px;
}

#trust{
  margin-top: 1010px;
}

#drivers{
  margin-top: 1080px;
}

#riders{
  margin-top: 1110px;
}

#five{
  margin-top: 1160px;
}

#stars{
  margin-top: 1180px;
}

.phone{
  position: absolute;
  margin-top: 780px;
  margin-left: 700px;
  width: 460px;
  height: 507px;
}

#background2{
  background-color: white;
  position: absolute;
}

#vid1,
#vid3{
  float: right;
  margin-left:423px;
}

#text1,
#text3{
  position: absolute;
}

.text1-background2{
  font-size: 12px;
  margin-left: 50px;
  margin-top: 30px;
}

.text2-background2{
  font-size: 24px;
  margin-left: 50px;
}

.text3-background2{
  font-size: 14px;
  margin-left: 50px;
}

#lyfts{
  margin-top: 20px;
}

#vid2{
  float: left;
}

#text2{
  position: absolute;
  margin-left: 840px;
  margin-top: 450px;
}

#in{
  margin-top: 20px;
}

#text3{
  margin-top: 900px;
}

#launching{
  margin-top: 20px;
}

footer{
  background-color: #303043;
  position: absolute;
  width: 1263px;
  height: 530px;
  margin-top: 1350px;
}

#list2,
#list3,
#list4{
  /*display: inline-block;*/
  position: absolute;
  list-style: none;
  padding: 60px;
}

#line{
  color: white;
  font-size: 20px;
  position: absolute;
  border-top: 1px solid #aaaaaa;
  width: 800px;
}

form{
  background-color: white;
  z-index: +50px;
  width: 520px;
  height: 470px;
  position: absolute;
  margin-left: 743px;
  margin-top: 150px;
}

button{
  background-color: #E900B6;
  color: white;
  margin-left: 50px;
}

.form-text1{
  color: #4F2D76;
  font-size: 45px;
  margin-left: 50px;
  margin-top: 50px;
}

#into{
margin-top: 0px; !important
}

.form-text2{
  color: #4F2D76;
  font-size: 17px;
  margin-left: 50px;
  margin-top: 10px;
}

input{
  margin-left: 50px;
}

.form-text3{
  color: #4F2D76;
}

.form-text4{
  color: #4F2D76;
  margin-left: 50px;
  font-size: 10px;
}

#list2{
  margin-left: 40px;
}

#list3{
  margin-left: 280px;
}

#list4{
  margin-left: 530px;
}

#images{
  position: absolute;
  margin-left: 850px;
  margin-top: 70px;
}

.footer-text2{
  font-size: 14px;
}

#icons{
  margin-left: 500px;
  margin-top: 400px;
  position: absolute;
}

#line{
  position: absolute;
  margin-left: 180px;
  margin-top: 450px;
}

#terms{
  position: absolute;
  margin-left: 500px;
  margin-top: 480px;
}
